.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.container {
  
   height: 100%;
}

.width-50 {
    width: 50%;
}

.btn-custom {
    display: block;
    margin-top: 1rem;
}

.status{
    color: white;
    font-size: 3rem
}

agm-map {
    height: 300px;
   }
